version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: notes_postgres
    restart: always        # restart automatically if fails
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: noteapp
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
